/* ==========================================================================
   normalize/reset
   ========================================================================== */
html, body, main, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

main, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -ms-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 1em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  background: #ccc;
  margin: 0 auto;
  padding: 0; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

input, textarea, button, select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none; }

button, input[type=submit] {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  overflow: visible; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

sup, sub {
  height: 0;
  line-height: 1;
  vertical-align: baseline;
  _vertical-align: bottom;
  position: relative;
  font-size: .5em; }

sup {
  bottom: 2.5ex; }

sub {
  top: .5ex; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: #aaa; }

/* ==========================================================================
   opinionated defaults
   ========================================================================== */
html {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

::-webkit-input-placeholder {
  color: #53565a; }

::-moz-placeholder {
  color: #53565a; }

:-ms-input-placeholder {
  color: #53565a; }

:-moz-placeholder {
  color: #53565a; }

p {
  margin-bottom: 1em;
  line-height: 1.3; }

a, button, input[type=submit], .btn {
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s; }

/* ==========================================================================
   animations
   ========================================================================== */
.anim-appear {
  opacity: 0.01; }

.anim-appear.anim-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

/* ==========================================================================
   shared
   ========================================================================== */
.degreeSymbol, .weatherDisplayer div button:before {
  content: '\00b0'; }

/* ==========================================================================
   keyframes
   ========================================================================== */
.displayNone {
  display: none; }

/* ==========================================================================
   variables
   ========================================================================== */
/* ==========================================================================
   buttons
   ========================================================================== */
.btnPrimary, .btnBack {
  border-radius: .75em;
  background-color: #4584ed;
  color: #fff;
  padding: .5em 1.5em; }

.btnBack {
  display: block; }

.btnBack:hover {
  background-color: #e44134; }

.btnSearch {
  width: 3em;
  height: 2.3em;
  float: right;
  background: url(//ssl.gstatic.com/gb/images/v2_d8029326.png) 5px -195px no-repeat;
  background-size: 100%; }

/* ==========================================================================
   fonts/typography
   ========================================================================== */
fontColor, h1, h2, p {
  color: #ccc; }

fontFamily, h1, h2, p {
  font-family: Verdana, sans-serif; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.25em; }

p {
  font-size: 1em; }

/* ==========================================================================
   custom styles
   ========================================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.inputContainer {
  max-width: 500px;
  margin: 1em auto;
  background-color: #ccc;
  border-radius: .625em;
  padding: .5em;
  box-shadow: 0 5px 2px #eee;
}

input {
  border: 1px solid #ccc;
  padding: 1em;
  width: calc(100% - 5em); }

.weatherWidget {
  max-width: 750px;
  margin: 1em auto 0 auto;
   }

.forecast {
  border: 1px solid #ccc;
  box-shadow: 0 5px 2px #eee;
}

.mainSection {
  border-bottom: 1px solid #ccc;
}

.mainSection h1,
.mainSection h2,
.mainSection h3 {
  color: #777; }

.mainSection h2 {
  margin-bottom: .25em; }

.weatherDisplayer {
  width: 100%;
  padding: 1em; }

.weatherDisplayer span {
  margin-left: .25em;
  font-size: 3em; }

.weatherDisplayer span.hidden {
  position: absolute;
  opacity: 0;
  left: 60px;
  top: 0; }

.weatherDisplayer section {
  margin: 1em 0;
  position: relative; }

.weatherDisplayer div {
  position: relative;
  display: inline-block; }

.weatherDisplayer div button {
  position: absolute;
  top: 0;
  font-size: 1em; }

.weatherDisplayer div button.inactive {
  pointer-events: none;
  opacity: .25; }

.weatherDisplayer div button:nth-of-type(1) {
  right: -1em; }

.weatherDisplayer div button:nth-of-type(2) {
  right: -2.5em; }

/* ==========================================================================
   forecast container
   ========================================================================== */
.forecastContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; }

.forecastContainer .weatherDisplayer {
  cursor: pointer;
  border-right: 1px solid #ccc; }

.forecastContainer div {
  width: 100%;
}

.forecastContainer .weatherDisplayer:last-child {
  border-right: 0; }

.forecastContainer div .btnBack,
.forecastContainer div section button {
  display: none; }

.forecastContainer div h1 {
  font-size: 1em;
  text-align: center; }

.forecastContainer div h2 {
  display: none; }

.forecastContainer .weatherDisplayer section {
  text-align: center;
  margin: 0; }

.forecastContainer .weatherDisplayer section img {
  display: block;
  margin: 0 auto; }

.forecastContainer .weatherDisplayer section span {
  margin-left: 0;
  font-size: 1.25em; }

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 3em;
  height: 3em; }

transition, .btnBack, .weatherWidget {
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s; }

  @media (max-width: 30em) /* 480px */ {
    .weatherWidget {
      width: 100%;
    }

    .mainSection .weatherDisplayer {
      border-bottom: 0;
    }

    .forecastContainer {
      display: block;
    }

    .forecastContainer .weatherDisplayer {
      border-right: 0;
      border-bottom: 1px solid #ccc;
    }

    .forecastContainer .weatherDisplayer:last-child {
      border-bottom: 0;
    }
  }